
body {
  min-width: $grid-breakpoint-mobile;
  padding: 10px;
  background-color: $color-bg-body;
}

a {
  color: $color-denim-approx;
  text-decoration: none;

  border-bottom: 1px $color-denim-approx dotted;

  transition: opacity 0.15s ease;

  &:hover,
  &:focus {
    border-bottom-style: solid;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}