body {
  background-color: $color-bg-body;
}

a {
  color: $color-denim-approx;
  text-decoration: none;

  border-bottom: 1px $color-denim-approx dotted;

  &:hover,
  &:focus {
    border-bottom-style: solid;
    opacity: 0.55;
  }

  &:active {
    opacity: 0.45;
  }
}

//
// UTIL
//
.visually-hidden { // https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
