.mailing-info {
  padding: 5px 15px 10px;

  @include fonts($font-size-x2, $font-height-normal, $font-weight-normal, normal, $color-mine-shaft);

  background-color: $color-white;
  @include full-content-border;
}

.mailing-info__important {
  color: $color-navy-blue;
}