.page-footer {
  flex-shrink: 0; //important, so that the blocks are correctly extended in height
  width: 100%;
  margin-top: auto;

  border-top: 0.5px solid $color-alto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}