.page-header {
  flex-shrink: 0; //important, so that the blocks are correctly extended in height
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}